<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densityDpi=device-dpi">
    <title>{{listName}} | Wojciech Reszelewski - Software Developer</title>
    <meta name="description" content="My dev blog. Looking for information about AWS, javascript, python or embedded devices? You're welcome!" />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/reset.css" />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/main4.css" />
</head>

<body>
  <div id="top" class="topMenu">
    <div class="navBar">
      <div class="topNav">
        <div class="logo">
          <picture>
          <img
          src="https://static.reszelewski.com/pic/wreszelewski_mnof5g_c_scale,w_376.jpg"
          alt="Wojciech Reszelewski">
          </picture>
          <h1>Wojciech Reszelewski</h1>
        </div>
        <div class="links">
        <a class="blogLnk link" href="/">Blog</a>
        <a class="cvLnk link" href="/cv.html">CV</a>
        <a class="contactLnk link" href="/contact.html">Contact</a>

      </div>
      <div class="social">
          <ul>
              <li>
                  <a href="http://www.linkedin.com/in/wreszelewski" class="linkedin" target="_blank">LinkedIn</a>
              </li>
              <li>
                  <a href="https://github.com/wreszelewski" class="github" target="_blank">Github</a>
              </li>
          </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="mainContent blog">
    <div class="header">

    <h1>{{listName}}</h1>
  </div>
  <div class="articleList">
	{{#posts}}
    <a href="{{url}}">
    <div class="articleEntry">
      <div class="entryHeader">
        <div class="dateBox">

        <div class="date">
          <p>{{publicationDate}}</p>
        </div>
      </div>
        <div class="title">
          <h2>{{postTitle}}</h2>
        </div>
      </div>
      <div class="entryContent">
		  {{{postContent}}}
    </div></a>
  </div>
  {{/posts}}
  </div>
    <div class="topButton">
        <a href="#top" onClick="$('#top').scrollUp();" class="scrollUp">
            <div class="topArrow">

            </div>
        </a>
      </div>
    <div class="privacyLinks">
      <a href="/privacy-policy.html">Privacy</a> | <a href="/cookies-policy.html">Cookies</a>
    </div>
    <div class="copyright">
        <p>Copyright 2016 Wojciech Reszelewski.</p>
        <p>Source code of this website is licensed under MIT Licence.</p>
        <p>All texts on that website are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </div>

    <link href="https://static.reszelewski.com/fonts/fonts.css" rel="stylesheet" media="none" onload="this.media='all';">
    <script async src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script async src="https://static.reszelewski.com/js/main3.js"></script>

</body>

</html>
