<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densityDpi=device-dpi">
    <title>{{postTitle}} - Dev blog | Wojciech Reszelewski - Software Developer</title>
    <meta name="description" content="Hi everyone! I'am starting a dev blog and it's my first post. I'll describe here my programming activities I find useful for other people. Today a few words about me and topics that may appear here." />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/reset.css" />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/main2.css" />
</head>

<body>
  <div id="top" class="topMenu">
    <div class="navBar">
      <div class="topNav">
        <div class="logo">
          <picture>
            <img
            src="https://static.reszelewski.com/pic/wreszelewski_mnof5g_c_scale,w_376.jpg"
            alt="Wojciech Reszelewski">
          </picture>
          <h1>Wojciech Reszelewski</h1>
        </div>
        <div class="links">
        <a class="blogLnk link" href="/">Blog</a>
        <a class="cvLnk link" href="/cv.html">CV</a>
        <a class="contactLnk link" href="/contact.html">Contact</a>

      </div>
      <div class="social">
          <ul>
              <li>
                  <a href="http://www.linkedin.com/in/wreszelewski" class="linkedin" target="_blank">LinkedIn</a>
              </li>
              <li>
                  <a href="https://github.com/wreszelewski" class="github" target="_blank">Github</a>
              </li>
          </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="mainContent blog">
    <a class="articleBack" href="/">
      <svg width="120px" height="90px" viewBox="0 0 90 80" xml:space="preserve">
          <polyline fill="none" stroke="#462446" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
      	40,70 0,40 100,40 0,40 40,10 "/>
        </svg>  </a>
    <div class="articleHeader header">
    <h1>{{postTitle}}</h1>
  </div>
  <div class="article">

      <div class="entryHeader">
        <div class="dateBox">
        <div class="date">
          <p>{{publicationDate}}</p>
        </div>
      </div>
        <div class="title">
        </div>
      </div>
      <div class="articleContent">
        {{{postContent}}}
  </div>
</div>

  <div class="comments">
    <h2>Comments</h2>

  <div id="disqus_thread">
  </div>
</div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_developer = 1;
var disqus_config = function () {
	this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://wreszelewski.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <div class="topButton">
        <a href="#top" onClick="$('#top').scrollUp();" class="scrollUp">
            <div class="topArrow">

            </div>
        </a>
      </div>
    <div class="copyright">
        <p>Copyright 2016 Wojciech Reszelewski.</p>
        <p>Source code of this website is licensed under MIT Licence.</p>
        <p>All texts on that website are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>

    <link href="https://static.reszelewski.com/fonts/fonts.css" rel="stylesheet" media="none" onload="this.media='all';">
    <script async src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script async src="https://static.reszelewski.com/js/main3.js"></script>

</body>

</html>
