<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densityDpi=device-dpi">
    <title>CV | Wojciech Reszelewski - Software Developer</title>
    <meta name="description" content="CV of a software developer with knowledge of javascript, python, cloud, devops and scrum from Warsaw, Poland."  />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/reset.css" />
    <link rel="stylesheet" href="https://static.reszelewski.com/css/main2.css" />
</head>

<body>
  <div id="top" class="topMenu">
    <div class="navBar">
      <div class="topNav">
        <div class="logo">
          <picture>
            <img
            src="https://static.reszelewski.com/pic/wreszelewski_mnof5g_c_scale,w_376.jpg"
            alt="Wojciech Reszelewski">
          </picture>
          <h1>Wojciech Reszelewski</h1>
        </div>
        <div class="links">
        <a class="blogLnk link" href="/">Blog</a>
        <a class="cvLnk link" href="/cv.html">CV</a>
        <a class="contactLnk link" href="/contact.html">Contact</a>

      </div>
      <div class="social">
          <ul>
              <li>
                  <a href="http://www.linkedin.com/in/wreszelewski" class="linkedin" target="_blank">LinkedIn</a>
              </li>
              <li>
                  <a href="https://github.com/wreszelewski" class="github" target="_blank">Github</a>
              </li>
          </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="mainContent cv">
  <div class="introduction">
      <div class="intrRow">
          <div class="basicInfo">
              <h1>Wojciech Reszelewski</h1>
              <h2>Software Developer</h2>
              <p>
                  I'm a backend developer from Warsaw, Poland. I'm a goal-oriented person that always looks for the best and the simplest solutions. I'm interested in Cloud Computing and DevOps Culture - I love working on live systems and seeing results of my work immidiately
                  on charts. Do you want to know more?

              </p>
          </div>
      </div>
    </div>
    <div class="basicNav">
        <div class="navRow">
            <div class="round-button double">
                <div class="round-button-circle">
                    <a href="#educationExperience" onclick="$('#educationExperience').scrollView();">Education & Work experience</a>
                </div>
            </div>
            <div class="round-button">
                <div class="round-button-circle">
                    <a href="#skills" onclick="$('#skills').scrollView();">Skills</a>
                </div>
            </div>
        </div>
    </div>
    <div id="educationExperience" class="educationExperience">
        <h2 class="sectionHeader">Education & Work experience</h2>
        <table class="expTable">
            <tr class="expRow wide">
                <th class="expEmpty">
                    Date
                </th>
                <th class="expEmpty">
                    School graduation or Work Start
                </th>
            </tr>
            <tr class="expRow expEdu entryRow">
                <td class="expDateBox">
                    <div class="expDate">
                        <p>
                            July 2016
                        </p>
                    </div>
                </td>
                <td class="expEntry expEdu">
                    <div class="expEntryLongRight expRight">
                        <h3 class="expEntrySingleLine">MSc in Computer Science</h3>
                    </div>
                </td>
            </tr>
            <tr class="expRow expEdu">
                <td class="expEmpty">

                </td>
                <td class="expDetails expDetailsLongRight expEdu">
                    <p>
                        AGH University of Science And Technology in Cracow, Poland
                    </p>
                    <p class="university">
                        Faculty of Computer Science, Electronics and Telecommunications
                    </p>
                    <p class="university">
                        Specialization: Distributed Systems and Computer Networks
                    </p>
                </td>

            </tr>
            <tr class="expRow expWork entryRow">
                <td class="expDateBox">
                    <div class="expDate">
                        <p>
                            March 2016
                        </p>
                    </div>
                </td>
                <td class="expEntry expWork">
                    <div class="expEntryLongRight">
                        <h3 class="expEntryDoubleLine">Senior Software Engineer</h3>
                        <h3 class="inlinePos">Dreamlab Sp. z o. o.</h3>
                    </div>
                </td>
            </tr>
            <tr class="expRow expWork">
                <td class="expEmpty">

                </td>
                <td class="expDetails expDetailsLongRight expWork">
                    <p>
                        Working on http://programtv.onet.pl website:
                    </p>
                    <ul>
                        <li>
                            Development of backend using Node.js and PostgreSQL.
                        </li>
                        <li>
                            Preparation of data preview in a form of template exaples for frontend developers.
                        </li>
                        <li>
                            Adding SEO elements like sitemap and structured data basing on SEO department guideline.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="expRow expEdu entryRow">
                <td class="expDateBox">
                    <div class="expDate">
                        <p>
                            February 2014
                        </p>
                    </div>
                </td>
                <td class="expEntry expEdu">
                    <div class="expEntryLongRight expRight">
                        <h3 class="expEntrySingleLine">BSc in Computer Science</h3>
                    </div>
                </td>
            </tr>
            <tr class="expRow expEdu">
                <td class="expEmpty">

                </td>
                <td class="expDetails expDetailsLongRight expEdu">
                    <p>
                        AGH University of Science And Technology in Cracow, Poland
                    </p>
                    <p class="university">
                        Faculty of Computer Science, Electronics and Telecommunications
                    </p>
                </td>

            </tr>
            <tr class="expRow expWork entryRow">
                <td class="expDateBox">
                    <div class="expDate">
                        <p>
                            January 2013
                        </p>
                    </div>
                </td>
                <td class="expEntry expWork">
                    <div class="expEntryLongRight">
                        <h3 class="expEntryDoubleLine">Software Engineer</h3>
                        <h3 class="inlinePos">Dreamlab Sp. z o. o.</h3>
                    </div>
                </td>
            </tr>
            <tr class="expRow expWork">
                <td class="expEmpty">

                </td>
                <td class="expDetails expDetailsLongRight expWork">
                    <p>
                        Maintenance and development (Python) of private cloud including:
                    </p>
                    <ul>
                        <li>
                            middleware system</li>
                        <li>
                            orchestration service
                        </li>
                        <li>
                            framework for managing and scaling special applications
                        </li>
                        <li>
                            automatization of disaster recovery procedure
                        </li>
                        <li>
                            monitoring system (Graphite, rsyslog)
                        </li>
                        <li>
                            server configuration using configuration management software (Puppet, SaltStack)
                        </li>
                        <li>
                            on-call duties
                        </li>
                    </ul>
                    <p>
                        Preparing video CDN system working in internal cloud infrastructure for deployment in customer's infrastructure:
                    </p>
                    <ul>
                        <li>
                            preparation of installation packages using fpm tool
                        </li>
                        <li>
                            removal of dependencies in cloud infrastructure
                        </li>
                        <li>
                            contact with client (big telecom)
                        </li>
                        <li>
                            preparation and run of workshop for customer
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="expRow expWork entryRow">
                <td class="expDateBox">
                    <div class="expDate">
                        <p>
                            July 2012
                        </p>
                    </div>
                </td>
                <td class="expEntry expWork">
                    <div class="expEntryLongRight">
                        <h3 class="expEntryDoubleLine">Intern</h3>
                        <h3 class="inlinePos">Dreamlab Sp. z o. o.</h3>
                    </div>
                </td>
            </tr>
            <tr class="expRow expWork">
                <td class="expEmpty">

                </td>
                <td class="expDetails expDetailsLongRight expWork">
                    <p>
                        Development of internal message bus:
                    </p>
                    <ul>
                        <li>
                            development of automatic HaProxy configurator,
                        </li>
                        <li>
                            development of message bus central configuration service.
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
    <div id="skills" class="skills">
        <h2 class="sectionHeader">Skills</h2>
        <h3>
        Programming
      </h3>
        <ul>
            <li class="tag">
                <span class="skillItem">Python</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Tornado</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">JavaScript</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Node.js</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">C</span>
                <span class="stars stars2">★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">SQL</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Bash</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">HTML</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">CSS</span>
                <span class="stars stars3">★★★</span>
            </li>

        </ul>

        <h3>
        Languages
      </h3>

        <ul>
            <li class="tag">
                <span class="skillItem">English</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Polish</span>
                <span class="stars">★★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Russian</span>
                <span class="stars stars1">★</span>
            </li>
            <li class="tag">
                <span class="skillItem">German</span>
                <span class="stars stars1">★</span>
            </li>
        </ul>
        <h3>
        Version Control & Continous Integration
      </h3>
        <ul>
            <li class="tag">
                <span class="skillItem">Git</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Mercurial</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Subversion</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Stash</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Bamboo</span>
                <span class="stars stars4">★★★★</span>
            </li>
        </ul>
        <h3>
        Other tools
      </h3>

        <ul>
            <li class="tag">
                <span class="skillItem">Zabbix</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Graphite</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Diamond</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">SaltStack</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Puppet</span>
                <span class="stars stars2">★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Foreman</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Linux</span>
                <span class="stars stars4">★★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Windows</span>
                <span class="stars stars2">★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">HaProxy</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">Nginx</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">AWS EC2</span>
                <span class="stars stars3">★★★</span>
            </li>
            <li class="tag">
                <span class="skillItem">AWS S3</span>
                <span class="stars stars3">★★★</span>
            </li>
        </ul>


    </div>
    <div class="topButton">
        <a href="#top" onClick="$('#top').scrollUp();" class="scrollUp">
            <div class="topArrow">

            </div>
        </a>
      </div>
    <div class="copyright">
        <p>Copyright 2016 Wojciech Reszelewski.</p>
        <p>Source code of this website is licensed under MIT Licence.</p>
        <p>All texts on that website are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </div>

    <link href="https://static.reszelewski.com/fonts/fonts.css" rel="stylesheet" media="none" onload="this.media='all';">
    <script async src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script async src="https://static.reszelewski.com/js/main3.js"></script>

</body>

</html>
